.servicesButton {
    /* position: absolute;
    left: 50%;
    top: 93%;
    transform: translate(-50%, -50%); */
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    background: transparent;
    color: #ffff33;
    border: white solid 2px;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
    margin-bottom: 180px;
}
.servicesButton:hover {
    color: black;
    background-color: white;
}

/*////////////////////////////////// Media Queries*/

/*Xs devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .servicesButton {
        margin-top: 5px;
        margin-bottom: 10px;
    }
  }
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767px) {
    .servicesButton {
        margin-top: 5px;
        margin-bottom: 10px;
    }
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991px) {

  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1999px) {

  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {

  }